<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="products">
        <div class="container">
            <h3 class="pre-products-heading">100% natural</h3>
            <h2 class="products-heading">products</h2>
    
            <div class="products-list">
                <div class="product">
                    <img src="../images/strawberry-ice-1x.png" alt="*content image*" class="product-img" />
                    <h4 class="product-heading">ice cream</h4>
                    <p class="three_dots">...</p>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
                <div class="product">
                    <img src="../images/ice-coffe-1x.png" alt="*content image*" class="product-img" />
                    <h4 class="product-heading">ice coffee</h4>
                    <p class="three_dots">...</p>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
                <div class="product">
                    <img src="../images/milkshake-1x.png" alt="*content image*" class="product-img" />
                    <h4 class="product-heading">milkshakes</h4>
                    <p class="three_dots">...</p>
                    <p class="product-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et
                    </p>
                    <button class="product-button"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/bafb6e22e9.js" crossorigin="anonymous"></script>
</body>
</html>



